.filters {
    width: 300px;
}

.sizes{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.size{
    color:#8A8A8A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: solid #8A8A8A 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.size:hover{
    border: solid #000 1px;
    color: #ffffff;
    background-color: #000000;
}
.colors{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.color{
    border-radius: 50%;
    width:30px;
    height:30px;
    cursor: pointer;
    transition: all ease 0.4s;
}
.color:hover{
    scale: 1.2;
}

.types{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.type{
    font-size: 16px;
    margin: 8px 0;
    cursor: pointer;
    color: #8A8A8A;
    transition: all ease 0.4s;
    position: relative;
}
.type:before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0;
    background: #8A8A8A;
    transition: width 0.3s ease;
}
.type:hover::before {
    width: 100%;
}

 .activeSize{
    border: solid #000 1px;
    color: #ffffff;
    background-color: #000000;
}
.activeColor{
    scale: 1.2;
  }
.activeType::before {
    width: 100%;
}

.pricesFilters{
    display: flex;
    flex-direction: row;
    gap:16px
}
.pricesButtons{
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    gap: 16px;
}
.pricesButtons button{
    cursor: pointer;
    border: none;
    color: #8A8A8A;
    background-color: transparent;
    font-size: 16px;
    position: relative;
}
.pricesButtons button::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0;
    background: #8A8A8A;
    transition: width 0.3s ease;
}
.pricesButtons button:hover::before {
    width: 100%;
}
.pricesButtons > button .active::before {
    width: 100%;
}