@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #484848;
}
button{
    font-family: 'Poppins', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 równe kolumny */
    gap: 16px; /* odstęp między kolumnami */

    margin: 0 auto;
    max-width: 90%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    max-width: 570px;

    text-align: center;
    border-radius: 12px;
}
.item_1{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.item_2{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.item_3{
    display: flex;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    align-items: flex-end;
}
.img_2{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.img_3{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 16px;
    border-radius: 12px;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.title {
    font-size: 55px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.outline {
    font-size: 90px;
    line-height: 90px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px #333;
    text-stroke: 1px #333; /* for Firefox (optional) */
    margin: 0;
}

.subtitle {
    font-size: 30px;
    color: #666;
    letter-spacing: 1px;
    margin: 10px;
}
.img_2,.img_3{
    transition: all ease 0.5s ;
}
.img_2:hover,.img_3:hover{
    transform: scale(1.05);
}
.grid-item:nth-of-type(1),.grid-item:nth-of-type(3){
    transition: all ease 0.5s ;
}


.grid-item:nth-of-type(1):hover,.grid-item:nth-of-type(3):hover{
    transform: scale(1.05)
}

* {
    box-sizing: border-box;
}
.ant-pagination-item a {
    color: #000; /* czarny */
}

.ant-pagination-item-active a {
    color: #000;
    font-weight: 600;
    border-color: #000;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    color: #000;
}
:where(.css-dev-only-do-not-override-pjilya).ant-pagination .ant-pagination-item-active a {
    color: #000;

}
:where(.css-dev-only-do-not-override-pjilya).ant-pagination .ant-pagination-item-active a:hover {
    color: #000;

}
:where(.css-dev-only-do-not-override-pjilya).ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: #ffffff;
    border-color: #000;
}
:where(.css-dev-only-do-not-override-pjilya).ant-pagination .ant-pagination-item-active:hover {
    font-weight: 600;
    background-color: #ffffff;
    border-color: #000;
}


