.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form_control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.form_control input{
    color: #484848;
    border: solid 1px #ccc;
    font-size: 24px;

}
.form_control input:focus{

}
.form_control label{
    font-size: 24px;
    margin-bottom: 4px;
}
.form_control select{
    color: #484848;
    border: solid 1px #ccc;
    font-size: 24px;
}

.button{

}